<p style="color: green"><%= notice %></p>

<% content_for :title, "Artists" %>

<h1>Artists</h1>

<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-lg-3">
      <%= render artist %>
      <p>
        <%= link_to "Show this artist", artist %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New artist", new_artist_path %>
