<div id="<%= dom_id art %>">
  <p>
    <%= image_tag art.photo, class: "img-fluid" %>
  </p>

  <p>
    <%= art.art_name %>
  </p>

  <p>
    <%= link_to art.artist.full_name, artist_path(art.artist) if art.artist.present? %>
  </p>

</div>
