<p style="color: green"><%= notice %></p>

<% content_for :title, "Arts" %>

<h1>Arts</h1>

<div class="row">
  <% @arts.each do |art| %>
  <div class="col-lg-3">
    <%= render art %>
    <p>
      <%= link_to "Show this art", art %>
    </p>
  </div>
  <% end %>
</div>

<%= link_to "New art", new_art_path %>
