.artists_banner {
    width: 25%;
}

.card-artist img {
    width: 14vw!important;
}

.card-artist {
    display: flex;
    width: 17vw!important;
    height: fit-content;
    padding: 1vw!important;
}

.top-informations {
    display: flex;
    flex-direction: row;
}

.information-image {
    width: 25vw;
    border-radius: 2vw;
}

.informations {
    display: flex;;
    justify-content: center;
}