.rounard_bubble_artists {
    width: 40vw;
    background-image: url("rounard_bubble_artists2.png");
    background-position: start;
    background-repeat: no-repeat;
    background-size: 40vw;
    padding: 5vw;
}

.artists_banner {
    width: 25%;
}

.card-artist img {
    width: 14vw!important;
}

.card-artist {
    display: flex;
    width: 17vw!important;
    height: fit-content;
    padding: 1vw!important;
}

.top-informations {
    display: flex;
    flex-direction: row;
}

.information-image {
    width: 25vw;
    border-radius: 2vw;
}