body p {
    font-family: 'FOT-Seurat-Pro-DB', sans-serif;
    font-size:20px;
    color: #74664B;
}

body span {
    font-family: 'FOT-Seurat-Pro-B', sans-serif!important;
    font-size:20px;
    color: #74664B;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'FOT-Seurat-Pro-DB', sans-serif!important;
}

.card p {
    font-family: 'FOT-Seurat-Pro-DB', sans-serif;
    font-size:20px;
    color: black;
}

.card span {
    font-family: 'FOT-Seurat-Pro-B', sans-serif!important;
    font-size:20px;
    color: black;
}

header {
    display: flex!important;

    justify-content: center;
    align-items: center;
    background-color: #8C8067;
    width: 100%;
    padding-top: 30px!important;
    margin-bottom: 50px!important;
}

header img {
    margin-bottom: -50px;
    width: 20vw;
}

body {
    background-color: #F8F5E6;
}

.ligne-div {
    position: sticky;
    top:30%;
}

.ligne {
    display: flex;
    position: absolute;
    left: 1%;
}

nav {
    position: sticky;
    top:30%;
}

.nav {
    display: flex;
    position: absolute;
    right: 1%;
    z-index: 1000; /* S'assure qu'il passe au-dessus du reste */
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 1vw;
    background-color: white;
    border-radius: 2vw 0 0 2vw;
    gap: 1vw;
}

nav img {
    width: 5vw;
}

.bouton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_bouton {
    background-color: white;
    padding: 1vw 2vw;
    border-radius: 2vw;
}